sudo: required
services:
  - docker

before_install:
  - docker build -t stephengrider/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true stephengrider/react-test npm run test -- --coverage

after_success:
  - docker build -t brunopiaui/multi-client ./client
  - docker build -t brunopiaui/multi-nginx ./nginx
  - docker build -t brunopiaui/multi-server ./server
  - docker build -t brunopiaui/multi-worker ./worker

  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  
  - docker push brunopiaui/multi-client
  - docker push brunopiaui/multi-nginx
  - docker push brunopiaui/multi-server
  - docker push brunopiaui/multi-worker

deploy:
  provider: elasticbeanstalk
  region: "us-east-2"
  app: "multi-docker"
  env: "MultiDocker-env"
  bucket_name: "elasticbeanstalk-us-east-2-911838035961"
  bucket_path: "multi-docker"
  on:
    branch: master
  access_key_id:
    secure: $AWS_ACCESS_KEY
  secret_access_key:
    secure: $AWS_SECRET_KEY